<div class="toolbarTabs">
    <ul id="aboutTabs" class="tab-menu">
        <li id="aboutAboutLink" class="selected"><a>About</a></li>
        <li id="aboutAuthorLink"><a>Authors</a></li>
        <li id="aboutSpecialThanksLink"><a>Special Thanks</a></li>
        <li id="aboutTranslatorsLink"><a>Translators</a></li>
        <li id="aboutLicenseLink"><a>License</a></li>
        <li id="aboutSoftwareUsedLink"><a>Software Used</a></li>
    </ul>
    <div class="clear"></div>
</div>

<script>
    "use strict";

    (() => {
        MochaUI.initializeTabs("aboutTabs");

        document.getElementById("aboutAboutLink").addEventListener("click", (event) => {
            Array.prototype.forEach.call(document.querySelectorAll(".aboutTabContent"), (tab => tab.classList.add("invisible")));
            document.getElementById("aboutAboutContent").classList.remove("invisible");
        });

        document.getElementById("aboutAuthorLink").addEventListener("click", (event) => {
            Array.prototype.forEach.call(document.querySelectorAll(".aboutTabContent"), (tab => tab.classList.add("invisible")));
            document.getElementById("aboutAuthorContent").classList.remove("invisible");
        });

        document.getElementById("aboutSpecialThanksLink").addEventListener("click", (event) => {
            Array.prototype.forEach.call(document.querySelectorAll(".aboutTabContent"), (tab => tab.classList.add("invisible")));
            document.getElementById("aboutSpecialThanksContent").classList.remove("invisible");
        });

        document.getElementById("aboutTranslatorsLink").addEventListener("click", (event) => {
            Array.prototype.forEach.call(document.querySelectorAll(".aboutTabContent"), (tab => tab.classList.add("invisible")));
            document.getElementById("aboutTranslatorsContent").classList.remove("invisible");
        });

        document.getElementById("aboutLicenseLink").addEventListener("click", (event) => {
            Array.prototype.forEach.call(document.querySelectorAll(".aboutTabContent"), (tab => tab.classList.add("invisible")));
            document.getElementById("aboutLicenseContent").classList.remove("invisible");
        });

        document.getElementById("aboutSoftwareUsedLink").addEventListener("click", (event) => {
            Array.prototype.forEach.call(document.querySelectorAll(".aboutTabContent"), (tab => tab.classList.add("invisible")));
            document.getElementById("aboutSoftwareUsedContent").classList.remove("invisible");
        });
    })();
</script>
