<style>
    #searchPattern {
        width: 300px;
        background-image: url("images/edit-find.svg");
        background-repeat: no-repeat;
        background-size: 1.5em;
        background-position: left;
        border: 1px solid var(--color-border-default);
        border-radius: 3px;
        padding: 4px 2px 4px 25px;
    }

    #categorySelect {
        width: 150px;
    }

    #pluginsSelect {
        width: 150px;
    }

    #searchResultsNoPlugins,
    #searchResultsNoSearches {
        height: calc(100% - 110px);

        table {
            height: 100%;
            width: 100%;
            text-align: center;
        }
    }

    #searchResultsFilters {
        height: 30px;
        overflow: auto;
    }

    #searchInNameFilter {
        width: 150px;
        margin-right: 20px;
    }

    #searchMinSeedsFilter,
    #searchMaxSeedsFilter,
    #searchMinSizeFilter,
    #searchMaxSizeFilter {
        width: 4em;
    }

    #manageSearchPlugins {
        float: right;
    }

    #searchResultsGranularFilters {
        display: none;
    }

    #searchResultsGranularFiltersWarning {
        vertical-align: bottom;
        margin-left: 10px;
    }

    #manageSearchPlugins,
    #startSearchButton {
        padding: 4px 6px;
    }

    #startSearchButton img,
    #manageSearchPlugins img {
        margin: 0 5px -3px 0;
    }

    @media (min-width: 1060px) {
        #searchResultsGranularFilters {
            display: inline-block;
        }

        #searchResultsGranularFiltersWarning {
            display: none;
        }

        #searchPattern {
            width: 500px;
        }
    }

</style>

<div id="searchResults">
    <div style="overflow: hidden; height: 60px;">
        <div style="margin: 20px 0 10px 0; height: 30px;">
            <input type="text" id="searchPattern" class="searchInputField" placeholder="Search" aria-label="Search" autocorrect="off" autocomplete="off" autocapitalize="none" oninput="qBittorrent.Search.onSearchPatternChanged()">
            <select id="categorySelect" class="searchInputField" aria-label="Select category" onchange="qBittorrent.Search.categorySelected()"></select>
            <select id="pluginsSelect" class="searchInputField" aria-label="Select plugins" onchange="qBittorrent.Search.pluginSelected()"></select>
            <button type="button" id="startSearchButton" class="searchInputField" onclick="qBittorrent.Search.startStopSearch()">
                <img src="images/edit-find.svg" alt="Search" width="16" height="16">Search
            </button>
        </div>
    </div>

    <div id="searchResultsNoPlugins">
        <table>
            <tbody>
                <tr>
                    <td>
                        There aren't any search plugins installed.
                        <br>
                        Click the "Search plugins..." button at the bottom right of the window to install some.
                    </td>
                </tr>
            </tbody>
        </table>
        <span></span>
    </div>

    <div id="searchResultsNoSearches" style="display: none">
        <table>
            <tbody>
                <tr>
                    <td>
                        Start a search above.
                    </td>
                </tr>
            </tbody>
        </table>
        <span></span>
    </div>

    <div id="searchTabsToolbar" class="toolbarTabs" style="border-bottom: 1px solid var(--color-border-default); display: none">
        <ul id="searchTabs" class="tab-menu"></ul>
        <div class="clear"></div>
    </div>

    <div id="searchResultsFilters" style="padding-top: 10px; display: none">
        <input type="text" id="searchInNameFilter" placeholder="Filter" autocorrect="off" autocapitalize="none">

        <span>Results (showing <span id="numSearchResultsVisible" class="numSearchResults">0</span> out of <span id="numSearchResultsTotal" class="numSearchResults">0</span>):</span>

        <div style="display: inline-block; float: right;">
            <label for="searchInTorrentName" style="margin-left: 15px;">Search in:</label>
            <select id="searchInTorrentName" onchange="qBittorrent.Search.searchInTorrentName()">
                <option value="names">Torrent names only</option>
                <option value="everywhere">Everywhere</option>
            </select>

            <img id="searchResultsGranularFiltersWarning" src="images/dialog-warning.svg" title="Increase window width to display additional filters" alt="Warning" width="24" height="24">

            <div id="searchResultsGranularFilters">
                <span style="margin-left: 15px;">Seeds:</span>
                <input type="number" min="0" max="1000" id="searchMinSeedsFilter" value="0" onchange="qBittorrent.Search.searchSeedsFilterChanged()">
                <span>to</span>
                <input type="number" min="0" max="1000" id="searchMaxSeedsFilter" value="0" onchange="qBittorrent.Search.searchSeedsFilterChanged()">

                <span style="margin-left: 15px;">Size:</span>
                <input type="number" min="0" max="1000" step=".01" value="0.00" id="searchMinSizeFilter" onchange="qBittorrent.Search.searchSizeFilterChanged()">
                <select id="searchMinSizePrefix" onchange="qBittorrent.Search.searchSizeFilterPrefixChanged()">
                    <option value="0">B</option>
                    <option value="1">KiB</option>
                    <option value="2" selected>MiB</option>
                    <option value="3">GiB</option>
                    <option value="4">TiB</option>
                    <option value="5">PiB</option>
                    <option value="6">EiB</option>
                </select>
                <span>to</span>
                <input type="number" min="0" max="1000" step=".01" value="0.00" id="searchMaxSizeFilter" onchange="qBittorrent.Search.searchSizeFilterChanged()">
                <select id="searchMaxSizePrefix" onchange="qBittorrent.Search.searchSizeFilterPrefixChanged()">
                    <option value="0">B</option>
                    <option value="1">KiB</option>
                    <option value="2">MiB</option>
                    <option value="3" selected>GiB</option>
                    <option value="4">TiB</option>
                    <option value="5">PiB</option>
                    <option value="6">EiB</option>
                </select>
            </div>
        </div>
    </div>

    <div id="searchResultsTableContainer" style="display: none">
        <div id="searchResultsTableFixedHeaderDiv" class="dynamicTableFixedHeaderDiv">
            <table class="dynamicTable unselectable" style="position:relative;">
                <thead>
                    <tr class="dynamicTableHeader"></tr>
                </thead>
            </table>
        </div>
        <div id="searchResultsTableDiv" class="dynamicTableDiv">
            <table class="dynamicTable unselectable">
                <thead>
                    <tr class="dynamicTableHeader"></tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div style="height: 30px; padding-top: 10px;">
        <button type="button" id="manageSearchPlugins" onclick="qBittorrent.Search.manageSearchPlugins()">
            <img alt="Search plugins..." src="images/plugins.svg" width="16" height="16">Search plugins...
        </button>
    </div>
</div>

<ul id="searchResultsTableMenu" class="contextMenu">
    <li><a href="#Download"><img src="images/downloading.svg" alt="Download"> Download</a></li>
    <li class="separator"><a href="#OpenDescriptionUrl"><img src="images/application-url.svg" alt="Open description page"> Open description page</a></li>
    <li>
        <a href="#" class="arrow-right"><img src="images/edit-copy.svg" alt="Copy"> Copy</a>
        <ul>
            <li><a href="#" id="copySearchTorrentName" class="copySearchDataToClipboard"><img src="images/name.svg" alt="Name"> Name</a></li>
            <li><a href="#" id="copySearchTorrentDownloadLink" class="copySearchDataToClipboard"><img src="images/insert-link.svg" alt="Download link"> Download link</a></li>
            <li><a href="#" id="copySearchTorrentDescriptionUrl" class="copySearchDataToClipboard"><img src="images/application-url.svg" alt="Description page URL"> Description page URL</a></li>
        </ul>
    </li>
</ul>
